*{
    margin:0;
    padding:0;
}
body{
    background-color:darkslategrey;
    display:flex;
    flex-direction:column;
    height: 100vh;
    width: 100%;
}
/* Container for the etch-a-sketch. Mainly for centering the app */
.container{
    display:flex;
    justify-content: center;
    align-items: center;
    align-items: center;
    margin-top: 16px;
}

/* container holding the screen */
.sketch-container {
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 700px;
    height: 700px;
    background-color:lightgrey;
    padding:20px;
}
.controlPanel{
    background-color: slategray;
    display: flex;
    padding:0;
    width: 100%;
    justify-content: space-evenly;
}
.controlPanel >button{
    background-color: darkcyan;
    color: white;
    font-size: 18px;
    padding: 10px;
    border: 3px solid grey;
    border-radius: 12px;
    transition: 50ms ease-in-out;
}
.controlPanel>button:hover{
background-color: rgb(0, 185, 185);
padding:15px;
font-size: 20px;
}
.controlPanel>button:active{
background-color: wheat;
color: black;
}
/* screen containing the grid */
.sketch-screen{
    display:flex;
    flex-direction:row;
    justify-content: space-around;
    width: 600px;
    height:600px;
    background-color:aliceblue;
    border: 2px solid black;
}
/* Column styling (make vertical flexboxes) */
.sketch-screen>div{
    height:auto;
    flex: 1 0 auto;
    display:flex;
    flex-direction: column;
}
/* Row styling (evenly distribute rows) */
.sketch-screen>div>*{
    flex:1;

}